*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.hide{
    display: none;
}

.show{
    display:block;
}

.container{
    width:60%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box__content{
    display:flex;
    justify-content: space-around;
    margin: 2rem;
}

.box__content--text {
    display:flex;
    justify-content: space-between;
    margin: 1rem;
}

.img--question{
    min-width: 33%;
    height: 15rem;
    margin:1.5rem;
    padding:1.5rem;
    border: 1px solid #000;
}

.text{
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 600;
}

.text--mini {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
.clickable{
    width:65%;
    margin: 0.7rem auto;
    padding:0.5rem;
    text-align: center;
}

.btn--jogar{
    cursor:pointer;
}

@media(max-width:869px){
    .box__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}